/*-----------------Class g�n�rale-------------------------------------*/
html {}
body{}
		
*{margin:0;}
		



.clearfix:after{content:"";
				display:block;
				clear:both;}	/*ce clearfix after permet de former une boite qui contient lez flottant et ainsi le background-color s'aplique sur toute la boite*/

.flottante{float:left;}
.flotright{float:right}
.clearMOI{clear:both;}
.margin{margin:0 auto;}		


a{display:block;
width:100%;
height:100%;}

.text{font-family: '';
				text-align:center;}

.wrapper{width:80%;}

/*------------------------------------------css de la page----------------------------*/
/*------------------------------------------header + menu----------------------------*/
.box_title{width:100%;
            height: 45px;
            background-color:#242424;
            /*utilisation de flexbox pour centrer verticalement*/
                    display: flex;
                    align-items: center;
                    justify-content: center;}

.box_title--title1{color:#57c5a0;
                    font-size: 40px;}

.box_title__search{padding: 0.8rem; /*utilisation de flexbox pour centrer verticalement*/
                font-size: 20px;
                border-right: 1px solid #7e7e7e;}

.box_title__search--lien{color:#7e7e7e;
                            text-decoration: none;}


.menu{height: 60px;}

.menu__boite{height:60px;	
            line-height:60px;           /*Avec la ligne au dessus pour centre verticalement*/
            padding:0 0.8rem 0 0.8rem;
            border-right: 1px solid #7e7e7e;}
.menu__boiteleft{border-left: 1px solid #7e7e7e;}

.menu__boite--lien{text-decoration: none;}
.menu__boite--valeur{display: inline;}           /*permet au p de ne pas redessendre à la ligne*/

/*------------------------------------------slider----------------------------*/
.slider__image{width:100%;}

.slider__carou{width:100%;
                height:90px;
                background-color: #2e2e2e;
                /*utilisation de flexbox mettre au centre*/
                display:flex;	
                justify-content:center;	}
.slider__carou__hover{padding: 10px 0 0 0;			
                        text-align: center;
                        width: 16%;}

.slider__carou__hover--bandenoir{height:8px;
                                background-color:#000000;
                                border-right: 1px solid #7e7e7e;
                                padding: 2px 3px 2px 3px;
                                border-left: 1px solid #7e7e7e;}
.slider__carou__hover--bandevert{height:100%;
                                background-color:#57c5a0;}
.slider__carou__hover--article{color: #acacac;
                                margin: 10px;}
.slider__carou__hover--legende{color:#686868}